{{/* layouts/partials/post-meta.html */}}
<div class="post-meta" style="font-size: 0.9em; color: var(--text-medium); margin-bottom: 1rem; text-align: center;">

    {{ with .Date }}
        <span>
            <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Format ($.Site.Params.dateFormat | default "January 2, 2006") }}
            </time>
        </span>
    {{ end }}

    {{ with .Params.tags }}
        <span style="margin-left: 0.5em;">| Tags:
            {{ range $index, $tag := . }}
                {{ if $index }}, {{ end }}
                {{/* Create the relative path for the tag */}}
                {{ $tagPath := (printf "/tags/%s" . ) | urlize }}
                {{/* Use relURL to make it a root-relative link */}}
                <a href="{{ $tagPath | relURL }}" style="color: inherit; text-decoration: underline;">{{ . }}</a>
            {{ end }}
        </span>
    {{ end }}

    {{ with .ReadingTime }}
        <span style="margin-left: 0.5em;">| {{ . }} min read</span>
    {{ end }}

</div>