$html
{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default $src -}}
{{- $class := .Get "class" -}}
{{- $loading := .Get "loading" | default "lazy" -}}
{{- $image := .Page.Resources.GetMatch $src -}}
{{- if not $image -}}
{{- warnf "Image shortcode: Resource '%s' not found in page '%s'." $src .Page.Path -}}
<p style="color: red;">ERROR: Image '{{ $src }}' not found!</p>
{{- return -}}
{{- end -}}
{{- $defaultWidths := (slice 400 800 1200) -}}
{{- $widthsToUse := $defaultWidths -}}
{{- $rawWidthsParam := "" -}}
{{- if .IsNamedParams -}}
{{- with .Get "widths" -}}
{{- $rawWidthsParam = . -}}
{{- $tempParsedWidths := slice -}}
{{- range $wStrRaw := $rawWidthsParam | split "," -}}
{{- $wStrProcessed := trim $wStrRaw " \n\t\r" -}}
{{- if and $wStrProcessed (ne $wStrProcessed ",") -}}
{{- with $wStrProcessed | int -}}
{{- if gt . 0 -}}
{{- $tempParsedWidths = $tempParsedWidths | append . -}}
{{- end -}}
{{- else -}}
{{- warnf "Image shortcode: Width parsing - value '%s' (from '%s') is not a valid number. Page: %s" $wStrProcessed $rawWidthsParam $.Page.Path -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- if gt (len $tempParsedWidths) 0 -}}
        {{- $widthsToUse = $tempParsedWidths | sort -}}
    {{- else -}}
        {{- if $rawWidthsParam -}}
            {{- warnf "Image shortcode: No valid widths parsed from input '%s' in page '%s'. Using defaults." $rawWidthsParam $.Page.Path -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- end -}}
{{- $originalFormat := path.Ext $image.Name | strings.TrimPrefix "." -}}
{{- $webpFormat := "webp" -}}
{{- $originalImageWidth := $image.Width -}}
{{- $largestWidthForFallback := index (last 1 $widthsToUse) 0 -}}
{{- $fallbackResizeOptions := "" -}}
{{- if gt $largestWidthForFallback $originalImageWidth -}}
{{- $fallbackResizeOptions = printf "%dx %s q75" $originalImageWidth $webpFormat -}}
{{- else -}}
{{- $fallbackResizeOptions = printf "%dx %s q75" $largestWidthForFallback $webpFormat -}}
{{- end -}}
{{- $fallbackImage := $image.Resize $fallbackResizeOptions -}}
{{- if eq $originalFormat "svg" -}}{{- $fallbackImage = $image -}}{{- end -}}
{{- $contentMaxWidth := 800 -}}
{{- $sizesAttr := printf "(max-width: %dpx) 100vw, %dpx" $contentMaxWidth $contentMaxWidth -}}
<picture>
{{- if ne $originalFormat "svg" -}}
{{- $srcsetsWebP := slice -}}
{{- range $widthsToUse -}}
{{- $targetW := . -}}
{{- $webpOptions := "" -}}
{{- if gt $targetW $originalImageWidth -}}
{{- $webpOptions = printf "%dx %s q75" $originalImageWidth $webpFormat -}}
{{- else -}}
{{- $webpOptions = printf "%dx %s q75" $targetW $webpFormat -}}
{{- end -}}
{{- $resized := $image.Resize $webpOptions -}}
{{- $srcsetsWebP = $srcsetsWebP | append (printf "%s %dw" $resized.RelPermalink .) -}}
{{- end -}}
<source type="image/webp" srcset="{{ delimit $srcsetsWebP ", " }}" sizes="{{ $sizesAttr }}">
{{- end -}}
{{- if and (ne $originalFormat $webpFormat) (ne $originalFormat "svg") -}}
    {{- $srcsetsOriginal := slice -}}
    {{- range $widthsToUse -}}
        {{- $targetW := . -}}
        {{- $originalOpts := "" -}}
        {{- if gt $targetW $originalImageWidth -}}
            {{- $originalOpts = printf "%dx q80" $originalImageWidth -}}
        {{- else -}}
            {{- $originalOpts = printf "%dx q80" $targetW -}}
        {{- end -}}
        {{- $resized := $image.Resize $originalOpts -}}
        {{- $srcsetsOriginal = $srcsetsOriginal | append (printf "%s %dw" $resized.RelPermalink .) -}}
    {{- end -}}
    <source type="image/{{ $originalFormat }}" srcset="{{ delimit $srcsetsOriginal ", " }}" sizes="{{ $sizesAttr }}">
{{- end -}}

<img
    src="{{ $fallbackImage.RelPermalink }}"
    alt="{{ $alt }}"
    {{- with $class }} class="{{ . }}"{{ end -}}
    width="{{ $fallbackImage.Width }}"
    height="{{ $fallbackImage.Height }}"
    loading="{{ $loading }}"
    sizes="{{ $sizesAttr }}">
</picture>