$html
{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default $src -}}
{{- $class := .Get "class" -}}
{{- $loading := .Get "loading" | default "lazy" -}}
{{- $image := .Page.Resources.GetMatch $src -}}
{{- if not $image -}}
{{- warnf "Image shortcode: Resource '%s' not found in page '%s'." $src .Page.Path -}}
<p style="color: red;">ERROR: Image '{{ $src }}' not found!</p>
{{- return -}}
{{- end -}}
{{- $defaultWidths := (slice 400 800 1200) -}}
{{- $widthsToUse := $defaultWidths -}}
{{- if .IsNamedParams -}}
{{- with .Get "widths" -}}
{{- $rawWidthsParam := . -}}
{{- $parsedWidths := slice -}}
{{- range $wStrRaw := $rawWidthsParam | split "," -}}
{{- $wStrProcessed := trim $wStrRaw " \n\t\r" -}}
{{- if and $wStrProcessed (ne $wStrProcessed ",") -}}
{{- $wInt := 0 -}}
{{- $validInt := true -}}
{{- with $wStrProcessed | int -}}
{{- $wInt = . -}}
{{- else -}}
{{- $validInt = false -}}
{{- warnf "Image shortcode: Could not parse '%s' from widths string '%s' to an integer in page '%s'." $wStrProcessed $rawWidthsParam $.Page.Path -}}
{{- end -}}
{{- if and $validInt (gt $wInt 0) -}}
                {{- $parsedWidths = $parsedWidths | append $wInt -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
    {{- if gt (len $parsedWidths) 0 -}}
        {{- $widthsToUse = $parsedWidths | sort -}}
    {{- else -}}
        {{- warnf "Image shortcode: No valid widths parsed from '%s' in page '%s'. Using defaults." $rawWidthsParam $.Page.Path -}}
    {{- end -}}
{{- end -}}
{{- end -}}
{{- $originalFormat := path.Ext $image.Name | strings.TrimPrefix "." -}}
{{- $webpFormat := "webp" -}}
{{- $largestWidth := index (last 1 $widthsToUse) 0 -}}
{{- $fallbackImageOptions := printf "%dx %s q75" $largestWidth $webpFormat -}}
{{- $fallbackImage := $image.Resize $fallbackImageOptions -}}
{{- if eq $originalFormat "svg" -}}{{- $fallbackImage = $image -}}{{- end -}}
<picture>
{{- if ne $originalFormat "svg" -}}
{{- $srcsetsWebP := slice -}}
{{- range $widthsToUse -}}
{{- $targetWidth := . -}}
{{- $currentImageWidth := $image.Width -}}
{{- $resizeOptions := "" -}}
{{- if gt $targetWidth $currentImageWidth -}}
{{-/* Target width is larger than original: just convert format, don't upscale width beyond original /-}}
{{- $resizeOptions = printf "%dx %s q75" $currentImageWidth $webpFormat -}}
{{- else -}}
{{-/ Target width is smaller or equal: resize to target width */-}}
{{- $resizeOptions = printf "%dx %s q75" $targetWidth $webpFormat -}}
{{- end -}}
{{- $resized := $image.Resize $resizeOptions -}}
{{- $srcsetsWebP = $srcsetsWebP | append (printf "%s %dw" $resized.RelPermalink .) -}}
{{- end -}}
<source type="image/webp" srcset="{{ delimit $srcsetsWebP ", " }}">
{{- end -}}
{{- if and (ne $originalFormat $webpFormat) (ne $originalFormat "svg") -}}
    {{- $srcsetsOriginal := slice -}}
    {{- range $widthsToUse -}}
        {{- $originalOptions := printf "%dx q80" . -}}
        {{- $resized := $image.Resize $originalOptions -}}
        {{- $srcsetsOriginal = $srcsetsOriginal | append (printf "%s %dw" $resized.RelPermalink .) -}}
    {{- end -}}
    <source type="image/{{ $originalFormat }}" srcset="{{ delimit $srcsetsOriginal ", " }}">
{{- end -}}

<img
    src="{{ $fallbackImage.RelPermalink }}"
    alt="{{ $alt }}"
    {{- with $class }} class="{{ . }}"{{ end -}}
    width="{{ $fallbackImage.Width }}"
    height="{{ $fallbackImage.Height }}"
    loading="{{ $loading }}">
</picture>